.table-list{
  background-color: lightgrey;
  text-align: left;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 5px 5px 50px;

  ul{
    padding: 8px;
    text-decoration: none;
    list-style: none;
  }

  li{
    border-radius: 5px;
  }
  p{
    padding: 4px 10px;
  }

  h3{
    text-align: center;
    width: 400px;
  }
}

.pokemon-type{
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  color: white;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  
}

.type-poison{
  background-color: #800080;
}

.type-grass{
  background-color: #008000;
}

.type-fire{
  background-color: #ff0000;
}

.type-water{
  background-color: #259c96;
}

.type-ice{
  background-color: #add8e6;
}

.type-ghost{
  background-color: #381338;
}

.type-dragon{
  background-color: #8f088f;
}

.type-fairy{
  background-color: #ffb0ff;
}

.type-psychic{
  background-color: #ce78ce;
}

.type-flying{
  background-color: #0212aa;
}

.type-steel{
  background-color: #6d6d6d;
}

.type-dark{
  background-color: #242424;
}

.type-bug{
  background-color: #488022;
}

.type-normal{
  background-color: #b9b9b9;
}

.type-electric{
  background-color: #d4b500;
}

.type-fighting{
  background-color: #7e1111;
}

.type-ground{
  background-color: #fbd34c;
}

.type-rock{
  background-color: #ddab08;
}

@media (min-width: 0px) and (max-width: 425px){
  .table-list{
    border-radius: 5px 5px 50px 5px;
    text-align: left;
    height: 300px;

    p{
      padding: 0;
      margin-left: 5px;
      font-size: 12px;
    }

    h3{
      width: 250px;
    }
  }  
}


@media (min-width: 426px) and (max-width: 768px){

  .table-list{
    border-radius: 5px 5px 50px 5px;
    height: 350px;
  } 
}

@media (min-width: 426px) and (max-width: 768px){
  .table-list{
    border-radius: 5px 5px 50px 5px;
    height: 390px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .table-list{
    border-radius: 5px 5px 50px 5px;
    height: 417px;
  }
}